<manifest xmlns:android="http://schemas.android.com/apk/res/android"><instrumentation android:name="net.lanbridge.android.LedgerInstrumentation" android:targetPackage="net.lanbridge.android.debug" android:label="Ledger emulator integration"/>    <instrumentation android:name="net.lanbridge.android.ParcelUiInstrumentation" android:targetPackage="net.lanbridge.android.debug"/>
<instrumentation android:name="net.lanbridge.android.AiParcelIntegration" android:targetPackage="net.lanbridge.android.debug"/><instrumentation android:name="net.lanbridge.android.AdaptiveUiInstrumentation" android:targetPackage="net.lanbridge.android.debug"/></manifest>
